@page
@model ProjectRazor.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}
<h5>Employees</h5>
<div class="row">

    @foreach (var employee in Model.EmployeeList)
    {
        <div class="col-md-3 mb-2">
           <div class="card">

               <img src="~/img/@employee.PhotoPath" class="card-img-top" />
               <div class="card-body"> 
                   <h5 class="card-title">@employee.Name</h5>
                   <p class="card-text">@employee.Department</p>
                   <a asp-page="/employees/details" asp-route-id="@employee.Id" class=" btn btn-primary">Details</a>
                   <a asp-page="/employees/edit" asp-route-id="@employee.Id" class=" btn btn-primary">Edit</a>

               </div>
           </div>

           </div>
           }
        </div>